<div>
  <h2>Love it?</h2>
</div>

<div>
  <%= simple_form_for [ @outfit, @booking ] do |f| %>
    <%= f.input :date_from, as: :date, html5: true %>
    <%= f.input :date_to, as: :date, html5: true %>
    <%= f.submit 'Book!', class: 'book-btn', method: :create %>
  <% end %>
</div>

<div class="mt-3">
  <p><strong>Total price:</strong> TODO</p>
</div>

<div>
  <h3>Your bookings</h3>
  <% if @your_bookings.empty? %>
    <p>Looks like you don't have any bookings yet... <strong>Book now</strong></p>
  <% else %>
    <div>
      <p><strong>Approved Bookings:</strong></p>
      <%= render "your_approved_bookings" %>
    </div>
    <div>
      <p><strong>Pending Bookings:</strong></p>
      <%= render "your_pending_bookings" %>
    </div>
  <% end %>
</div>
