<%= link_to outfit_path(outfit) do %>
  <div class="card-trip">
    <% if outfit.photos.count > 0 %>
        <div>
          <%= cl_image_tag outfit.photos[0].key, class: "image" %>
        </div>
    <% else %>
      <div>
        <%= image_tag"dog.png", class: "image" %>
      </div>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= outfit.name.capitalize %></h2>
        <p><%= outfit.size.capitalize %></p>
      </div>
      <strong><p class="card-trip-pricing">£<%= outfit.price %>/day</p></strong>
    </div>
  </div>
<% end %>
