
<div class="cards">
  <% @outfits.each do |outfit| %>
    <%# if outfit.user == current_user %>
      <div class="card-trip">
        <% outfit.photos.each do |photo|%>
          <div>
            <%= cl_image_tag photo.key, class: "image" %>
          </div>
        <%end%>
        <div class="card-trip-infos">
          <div>
            <h2><%= outfit.name.capitalize %></h2>
            <p><%= outfit.size.capitalize %></p>
          </div>
          <h2 class="card-trip-pricing">£<%= outfit.price %> / day</h2>
        </div>
        <div class="card-trip-infos">
          <%= link_to "View", outfit_path(outfit), class: "btn btn-primary" %>
          <%= link_to "Bookings", outfit_bookings_path(outfit), class: "btn btn-success" %>
        </div>
      </div>
    <%# end %>
  <% end %>
</div>





TO DO
1. Add correct image - CHECK
2. Add IF statement - uncomment this work
3. Add buttons - CHECK
4. Update CSS class names to be match our app
5. Tidy the redundant code in the _your_outfits.html.erb
6. Update the _all_outfits.html.erb file
7. Sort out the responsive layout - CHECK
8. Sort out text display, restrict it from going across multiple lines
