<% @bookings.each do |booking| %>
  <div>
    <% if booking.approve == false %>
      <ul>
        <li class="flash flash-warning mt-3 px-3">
          <p><strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong></p>
          <p><%= booking.date_from %> - <%= booking.date_to %></p>
          <%= link_to 'cancel', booking_path(booking), method: :delete, remote: :true, data: { confirm: "Are you sure?" } %>
          <% if current_user == @outfit.user %>
            <%= link_to 'approve', outfit_booking_approve_path(booking), method: :patch %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
