<div class="new-outfit-form">
  <%= simple_form_for(@outfit) do |f| %>
    <%= f.input :name %>
    <%= f.input :size, collection: ["extra small", "small", "medium", "large", "extra large"] %>
    <%= f.input :price %>
    <%= f.input :max_loan_period %>
    <%= f.input :photos, as: :file, label: 'Add photo' %>
    <%= f.submit %>
  <% end %>
</div>
