<div class= 'container fluid'>
  <div class="justify-content-center">
    <p>
      <strong>Outfit: </strong>
      <%= @outfit.name %>
    </p>

    <p>
      <strong>Size: </strong>
      <%= @outfit.size %>
    </p>

    <p>
      <strong>Price: </strong>
      <%= @outfit.price %>
    </p>

    <p>
      <strong>Max loan period: </strong>
      <%= @outfit.max_loan_period %>
    </p>

    <div>
      <% @outfit.photos.each do |photo|%>
        <%= cl_image_tag photo.key, crop: :fill, width: 400, height: 400 %>
      <%end%>
    </div>

    <%= link_to 'Back', outfits_path%>
    <%= link_to 'Delete', outfit_path(@outfit), method: :delete, data: { confirm: 'Do you really want to delete?' }%>
    <%= link_to 'Edit', edit_outfit_path(@outfit), class: "btn btn-warning" %>
    <% if current_user != @outfit.user %>
      <%= link_to 'Book', new_outfit_booking_path(@outfit) %>
    <% end %>
  </div>
</div>
